body{
    margin:0px;
    background-color: #f2f6ff;
    font-family:Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
header{
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding: 31px 96px;
    align-items: center;
    background-color: #fff;
    box-shadow:0 1px 1px #ccc;
    width: 100%;
    height: 79px;
}
header .left{
    display: flex;
    align-items: center;
}
header span select{
     border:0px;
}
header .left img{
    height: 51px;
    margin-right:40px;
}
header span{
    padding: 0px;
}
header p{
    padding: 20px;
}
header .right{
    display: flex;
    align-items: center;  
}
header .right  a{
    padding:20px ;
    text-decoration: none;
    background-color:blue;
    color: white;
    border-radius:50px;
    background-image: linear-gradient(269deg,#0048ff,#0096ff);
}
header .right p{
    color: grey;
}
/*******main********/
/*******main********/
main{
    padding:10px 200px;
    padding-top:30px;
    background-color: #f2f6ff;
}
main #filterimage{
    width:20px;
    margin-right: 5px;
}
main p{
    display: flex;
    align-items: center;
}
.filters button{
    color: #0084ff;
    padding:6px 16px; 
    border: 1px solid #0084ff;
    border-radius:20px;
    margin: 5px;
    cursor: pointer;
}
.filters button:hover{
    background-color: #0084ff;
    color: #ccc;
}
main button.active{
    background-color: #0048ff;
    color: white;
}
.posts{ 
    margin: 40px 0; 
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    /* width: 100%;
    height: 176px; */
}
.posts .post {
    width: 30%;
    box-shadow:0 5px 20px 0px;
    margin: 10px;
    border-radius:5px;
    overflow: hidden; 
    border: 1px solid black;
    background: white;
}
.posts .post img{
    width: 100%;
} 
.h2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.para1{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,.6);
    Margin: 4px 0;
}
.container .posts .post .content{
    padding: 20px;
    background:white;
}
main .posts .post  p span{
    color: #0048ff;
}
footer{
    background-color: #172146;
   padding:16px;
   width: 100%;
}




